/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
  height: 100%;
}
html {
  position: relative;
  min-height: 100%; }

  body > .footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
    height: 60px;
    background-color: #f5f5f5;
    padding: 20px 15px; }

#loading {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: #eee;
    border: none;
    text-align: center;
    color: #777;
}
#loading span {
    display: table-cell;
    vertical-align: middle;
}

.disableFrame{
  pointer-events: none;
}

.page-header {
  position: absolute;
  margin: 0;
  width: 100%;
}

.page-header h1{
  text-align: center;
}

#appLayout{
  padding-bottom: 60px;
  position: absolute;
  width: 100%;
}

.text-nowrap {
  white-space: nowrap; }

.navbar {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  background: #f8f8f8;
  box-shadow: none; 
  z-index: 10;
}

#bodyContainer {
  padding-top: 60px;
}

#cesiumColumn, #codeColumn {
  padding: 0; }

#codeColumn{
  min-width: 390px;
}

#cesiumColumn{
  min-width: 50px;
}

.resize{
  cursor: col-resize;
}

ul.nav.nav-tabs {
  position: absolute;
  width: 100%;
  height: 42px; }

ul + div.tab-content {
  padding-top: 42px; }

#appLayout, #bodyContainer, #bodyRow, #codeColumn, #codeColumn div[role="tabpanel"], #codeColumn .tab-content, .codeEditorContainer, #cesiumColumn, #cesiumColumn > div, #cesiumFrame, #cesiumFrame > div, #cesiumFrame iframe {
  height: 100%; }

#cesiumTabs .docTab{
  padding-right: 5px;
}

#cesiumTabs .close{
  font-size: 14px;
  margin-left: 5px;
  opacity: 0.6;
}

.nav>.docTabs>a{
  padding-right: 8px;
}

#cesiumFrame iframe {
  width: 100%; }

.codeContainer {
  height: 100%; }

.CodeMirror {
  height: 100%; }

.CodeMirror pre.errorLine {
  background: rgba(220,167,167,0.2);
}

.CodeMirror pre.hintLine {
  background-color: rgba(245,231,158,0.2);
}

.CodeMirror pre.searchLine {
    background: rgba(180, 230, 240, 0.5);
}

.errorMarker .glyphicon-exclamation-sign{
  color: #E42718;
  font-size: 12px;
}

.hintMarker .glyphicon-warning-sign{
  color: #DD920F;
  font-size: 11px;

}

.docPane{
  border-left: 1px solid rgb(221,221,221);
}

#consoleRow {
  position: fixed;
  bottom: 60px; /* Remove this when footer is removed */
  width: 100%;
  z-index: 10;
}

#consoleRow .col-md-4{
  padding-left: 25px;
}

#consoleRow p{
  font-size: 13px;
}

#consoleRow .panel{
  margin-bottom: 0;
}

#consoleLog .panel-body{
  max-height: 200px;
  overflow-y: scroll;
}

#docPopup{
  opacity: 0.9;
}

#docPopupMessage{
  max-width: 100%;
  text-align: left;
}

#docPopupMessage a{
  display: block;
}

#saveModal .modal-dialog{
  z-index: 1045;
}

.tooltip-inner{
  background: #fff;
  border: 1px solid #ccc;
}

.tooltip.bottom .tooltip-arrow{
  border-bottom-color: #ccc;
}
/*# sourceMappingURL=main.css.map */
@media screen and (max-width: 767px) {
  .codeContainer .alert{
    margin-bottom: 0;
  }

  ul + div.tab-content {
    padding-top: 0px;
  }

  #consoleRow{
    position: static;
  }
}