@import url(templates/bucket.css);
    #toolbar {
        background: rgba(42, 42, 42, 0.8);
        padding: 4px;
        border-radius: 4px;
    }
    #toolbar input {
        vertical-align: middle;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    #toolbar table tr {
        transform: translateY(0);
        transition: transform 0.4s ease-out;
    }
    #toolbar table tr.up {
        transform: translateY(33px);
        transition: none;
    }
    #toolbar table tr.down {
        transform: translateY(-33px);
        transition: none;
    }