@font-face {
  font-family: "Cascadia Code";
  src: url("static/CascadiaCode-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("static/CascadiaCode-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("static/CascadiaCode-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("static/CascadiaCode-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("static/CascadiaCode-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
