.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cesium-viewer-cesiumWidgetContainer {
    width: 100%;
    height: 100%;
}

.cesium-viewer-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 5px;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    bottom: auto;
    left: auto;
    padding-right: 0;
    color: #ffffff;
    font-size: 10px;
    text-shadow: 0px 0px 2px #000000;
}

.cesium-viewer-timelineContainer {
    position: absolute;
    bottom: 0;
    left: 169px;
    right: 29px;
    height: 27px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

.cesium-viewer-animationContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 169px;
    height: 112px;
}

.cesium-viewer-fullscreenContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
}

.cesium-viewer-toolbar {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.cesium-viewer-cesiumInspectorContainer {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

.cesium-viewer-geocoderContainer {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}

.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out, -ms-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.cesium-viewer-hideTimeControls .cesium-viewer-animationContainer,
.cesium-viewer-hideTimeControls .cesium-viewer-timelineContainer {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    transform: translate(0, 100px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    -ms-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -ms-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}
