.cesium-lighter .cesium-fullscreenButton {
    border: solid 1px #9BBFDF;
    background-color: #DFEFFF;
    background-image: url(../Images/enterFullscreen-lighter.svg);
}

.cesium-lighter .cesium-fullscreenButton:hover {
    background-color: #A9D5FF;
}

.cesium-lighter .cesium-fullscreenButton-exit {
    background-image: url(../Images/exitFullscreen-lighter.svg);
}
