.cesium-homeButton {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../Images/home.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 14%;
    cursor: pointer;
}

.cesium-homeButton:hover {
    box-shadow: 0 0 8px #fff, 0 0 8px #fff;
}
