/.metadata
/Build
/Cesium-*.zip
/cesium-*.tgz
.directory
.DS_Store
Thumbs.db
.eslintcache

/Apps/CesiumViewer/Gallery/gallery-index.js

/Apps/Sandcastle/jsHintOptions.js
/Apps/Sandcastle/gallery/gallery-index.js
/Apps/Sandcastle/templates/bucket.css

/Source/Cesium.js
/Source/Cesium.d.ts

/Specs/SpecList.js
/Specs/jasmine/**
/Source/Shaders/**/*.js
/Source/ThirdParty/Shaders/**/*.js
/Source/Workers/**
!/Source/Workers/cesiumWorkerBootstrapper.js
!/Source/Workers/transferTypedArrayTest.js
!/Source/Workers/package.json

Source/ThirdParty/_commonjsHelpers*
Source/ThirdParty/draco_decoder.wasm
Source/ThirdParty/Workers/draco_decoder_nodejs.js
Source/ThirdParty/Workers/pako_inflate.min.js
Source/ThirdParty/Workers/pako_deflate.min.js
Source/ThirdParty/Workers/z-worker-pako.js

/Tools/jsdoc/cesium_template/static/javascript/prism.js
/Tools/jsdoc/cesium_template/static/styles/prism.css

/node_modules
npm-debug.log
npm-debug.log.*
package-lock.json

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf

# Codeship
deployment/secrets
*.aes
