/.metadata
/Build
/Cesium-*.zip
/cesium-*.tgz
.directory
.DS_Store
Thumbs.db
.eslintcache

/Apps/CesiumViewer/Gallery/gallery-index.js

/Apps/Sandcastle/jsHintOptions.js
/Apps/Sandcastle/gallery/gallery-index.js
/Apps/Sandcastle/templates/bucket.css

/Source/Cesium.js
/Source/Cesium.d.ts

/Specs/SpecList.js
/Source/Shaders/**/*.js
/Source/ThirdParty/Shaders/**/*.js
/Source/Workers/**
!/Source/Workers/cesiumWorkerBootstrapper.js
!/Source/Workers/transferTypedArrayTest.js

Source/ThirdParty/_commonjsHelpers*
Source/ThirdParty/Autolinker.js
Source/ThirdParty/bitmap-sdf.js
Source/ThirdParty/dompurify.js
Source/ThirdParty/earcut.js
Source/ThirdParty/draco_decoder.wasm
Source/ThirdParty/Workers/draco_wasm_wrapper.js
Source/ThirdParty/grapheme-splitter.js
Source/ThirdParty/jsep.js
Source/ThirdParty/kdbush.js
Source/ThirdParty/ktx-parse.js
Source/ThirdParty/lerc.js
Source/ThirdParty/mersenne-twister.js
Source/ThirdParty/meshoptimizer.js
Source/ThirdParty/nosleep.js
Source/ThirdParty/pako.js
Source/ThirdParty/protobufjs.js
Source/ThirdParty/rbush.js
Source/ThirdParty/topojson.js
Source/ThirdParty/Tween.js
Source/ThirdParty/Uri.js
Source/ThirdParty/when.js
Source/ThirdParty/zip.js
Source/ThirdParty/Workers/pako_inflate.min.js
Source/ThirdParty/Workers/pako_deflate.min.js
Source/ThirdParty/Workers/z-worker-pako.js

/node_modules
npm-debug.log
npm-debug.log.*
package-lock.json
yarn.lock

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf
