/.metadata
/Build
/Cesium-*.zip
/cesium-*.tgz
/packages/**/*.tgz
.directory
.DS_Store
Thumbs.db
.eslintcache

/Apps/CesiumViewer/Gallery/gallery-index.js

/Apps/Sandcastle/jsHintOptions.js
/Apps/Sandcastle/gallery/gallery-index.js
/Apps/Sandcastle/templates/bucket.css

/Source/Assets/
/Source/ThirdParty/
/Source/Widgets/
/Source/Cesium.d.ts
/Source/Cesium.js

/Specs/SpecList.js
/Specs/jasmine/**

/Tools/jsdoc/cesium_template/static/javascript/prism.js
/Tools/jsdoc/cesium_template/static/styles/prism.css

/node_modules
npm-debug.log
npm-debug.log.*
package-lock.json
yarn.lock

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf
