/.concierge
/.eslintcache
/.externalToolBuilders
/.gitattributes
/.github
/.idea
/.metadata
/.npmignore
/.project
/.settings
/.travis.yml
/.vscode
/Apps
/Build/Apps
/Build/CesiumDev
/Build/Coverage
/Build/minifyShaders.state
/Build/Documentation
/Build/Sandcastle
/Build/Specs
/Cesium-*.zip
/cesium-engine-*.tgz
/cesium-widgets-*.tgz
/Documentation
/build.js
/favicon.ico
/gulpfile.js
/index.html
/index.release.html
/launches
/packages/
/server.js
/Source/copyrightHeader.js
/Specs
/travis
/ThirdParty
/Tools
/web.config

Thumbs.db
