/.metadata
/Apps
/Build
/Documentation
/Instrumented
/Specs
/Tools
/launches
/Cesium-*.zip
.DS_Store
Thumbs.db

/Apps/CesiumViewer/Gallery/gallery-index.js

/Apps/Sandcastle/jsHintOptions.js
/Apps/Sandcastle/gallery/gallery-index.js

/Source/Cesium.js

/Specs/SpecList.js

/node_modules
