
# Ignore everything
*

# Unignore directories (to all depths) and unignore code and style files in these directories
!.concierge/**/
!.github/**/
!.vscode/**/
!Apps/**/
!Documentation/**/
!Source/**/
!Specs/**/
!Tools/**/

!**/*.js
!**/*.cjs
!**/*.css
!**/*.html
!**/*.md
!**/*.ts

# Re-ignore a few things caught above
**/*.min.js
Source/Cesium.js
Source/Scene/GltfPipeline/**
Source/Shaders/**/*.js
Source/ThirdParty/**
Source/Workers/**/*
Apps/Sandcastle/ThirdParty
# Prevent Prettier from wrecking JSDoc function overload. Remove when
# https://github.com/prettier/prettier/issues/12653 is resolved.
Source/Core/ScreenSpaceEventHandler.js

!Source/Workers/cesiumWorkerBootstrapper.js
!Source/Workers/transferTypedArrayTest.js
