
# Ignore everything
*

# Unignore directories (to all depths) and unignore code and style files in these directories
!.github/**/
!.vscode/**/
!Apps/**/
!Documentation/**/
!packages/**/
!scripts/**/
!Specs/**/
!Tools/**/

!**/*.js
!**/*.cjs
!**/*.css
!**/*.html
!**/*.md
!**/*.ts
!**/*.tsx

# Re-ignore a few things caught above

**/*.min.js

packages/engine/Build/**
packages/engine/index.js
packages/engine/Source/Scene/GltfPipeline/**
packages/engine/Source/Shaders/**/*.js
packages/engine/Source/ThirdParty/**

packages/widgets/Build/**
packages/widgets/index.js
packages/widgets/Source/ThirdParty/**

packages/sandcastle/node_modules/**
Apps/Sandcastle2/**

Specs/jasmine/**

Apps/Sandcastle/ThirdParty
Tools/jsdoc/cesium_template/static/javascript/prism.js
Tools/jsdoc/cesium_template/static/styles/prism.css
**/LICENSE.md

