language: node_js
node_js:
  - "18"
dist: focal # Workaround for NodeJS 18 - https://travis-ci.community/t/the-command-npm-config-set-spin-false-failed-and-exited-with-1-during/12909/7
addons:
  chrome: stable
  firefox: latest
notifications:
  slack:
    secure: JKzk2sJSbZ9h2PUVWj6KtOAdFbEEnOtv/VZy05pJ2H41xRgUHiGdtMW/vMSeq6XX3IJN8eW2zd0cJTgkFn0ioAlYvID8zRhcvkFHg60QXquoqtp5y65dxjtVz79hefxSo7FO1NhMZBQWE9Tg6R7XkoyTMth62+T9vqOgu2Hms6M=
    if: (branch = main) AND (type = push)
    on_success: change # default: always
jobs:
  include:
    - stage:
      name: "Linting, Coverage, Deployment"
      script:
        - ./travis/prepare.sh
        - npm --silent run deploy-status -- --status pending --message 'Waiting for build'
        - npm --silent run eslint
        - npm --silent run markdownlint
        - npm --silent run prettier-check
        - ./travis/release.sh
        - ./travis/deploy.sh
    - name: "Release Tests"
      script: ./travis/test-release.sh

