language: node_js
node_js:
  - "16"
addons:
  chrome: stable
  firefox: latest
script:
  - npm --silent run deploy-set-version -- --buildVersion $TRAVIS_BRANCH.$TRAVIS_BUILD_NUMBER
  - npm --silent run deploy-status -- --status pending --message 'Waiting for build'

  - npm --silent run eslint
  - npm --silent run markdownlint
  - npm --silent run prettier-check

  - npm --silent run build
  - npm --silent run build-ts
  - npm --silent run coverage -- --browsers FirefoxHeadless --webgl-stub --failTaskOnError --suppressPassed

  - travis_wait 20 npm --silent run makeZipFile -- --concurrency 1
  - npm pack &> /dev/null

  - npm --silent run buildApps
  - npm --silent run build-specs

  - npm --silent run deploy-s3 -- -b cesium-dev -d cesium/$TRAVIS_BRANCH --confirm -c 'no-cache'
  - npm --silent run deploy-status -- --status success --message Deployed

  - npm --silent run test -- --browsers ChromeCI --failTaskOnError --webgl-stub --release --suppressPassed

  # Various Node.js smoke-screen tests
  - node -e "const Cesium = require('./');"
  - NODE_ENV=development node index.cjs
  - NODE_ENV=production node index.cjs

  - npm --silent run cloc
