<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".czml" />
            <mimeMap fileExtension=".czml" mimeType="application/json" />
            <remove fileExtension=".glsl" />
            <mimeMap fileExtension=".glsl" mimeType="text/plain" />
            <remove fileExtension=".gltf" />
            <mimeMap fileExtension=".gltf" mimeType="application/json" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".geojson" />
            <mimeMap fileExtension=".geojson" mimeType="application/json" />
            <remove fileExtension=".topojson" />
            <mimeMap fileExtension=".topojson" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        </staticContent>
    </system.webServer>
</configuration>