.cesium-darker .fullscreen {
    border: solid 1px #888;
    background-color: #222;
    background-image: url(../Images/enterFullscreen-darker.svg);
}

.cesium-darker .fullscreen:hover {
    border: solid 1px #95CEE6;
    background-color: #4C8EB8;
}

.cesium-darker .fullscreen-exit {
    background-image: url(../Images/exitFullscreen-darker.svg);
}