.cesium-lighter .cesium-fullscreen {
    border: solid 1px #9BBFDF;
    background-color: #DFEFFF;
    background-image: url(../Images/enterFullscreen-lighter.svg);
}

.cesium-lighter .cesium-fullscreen:hover {
    background-color: #A9D5FF;
}

.cesium-lighter .cesium-fullscreen-exit {
    background-image: url(../Images/exitFullscreen-lighter.svg);
}
