@import url('TimelineWidget.css');

.cw-node {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.cw-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cw-timelineContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}

.cw-timeline {
    margin: 0 2px;
}

.cw-animationIcon {
    background-image: url('../Images/animationBar.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.cw-bingIcon {
    background-image: url('../Images/Bing_Logo_51x19_White.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 51px;
    height: 24px;
}

.cw-animReverse {
    background-position: -24px 0;
}

.cw-animPause {
    background-position: -72px 0;
}

.cw-animPlay {
    background-position: -120px 0;
}

.cw-animFast {
    background-position: -144px 0;
}

.cw-animSlow {
    background-position: -168px 0;
}

.cw-cesiumLogo {
    display: block;
    position: absolute;
    bottom: 68px;
    left: 5px;
    text-decoration: none;
    background-image: url(../Images/Cesium_Logo_overlay.png);
    width: 118px;
    height: 26px;
}

.cw-cesiumLogo img {
    border: none;
}

.cw-animButtons {
    display: block;
    position: absolute;
    bottom: 31px;
    left: 6px;
}

.cw-speedIndicator {
    opacity: 0;
    background: rgba(42, 42, 42, 0.8);
    color: #eee;
    font-size: 12px;
    z-index: 20;
    padding: 5px 10px;
    border-radius: 4px;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.cw-animButtons:hover .cw-speedIndicator {
    opacity: 1;
}

.cw-timeLabel {
    display: block;
    position: absolute;
    bottom: 31px;
    right: 6px;
}

.cw-viewIcon {
    background-image: url('../Images/viewControlBar.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.cw-view2D {
    background-position: -24px 0;
}

.cw-view3D {
    background-position: -48px 0;
}

.cw-viewColumbus {
    background-position: -72px 0;
}

.cw-viewFullscreen {
    background-position: -120px 0;
}

.cw-viewButtons {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.cw-imagerySelector {
    display: block;
}

.claro .dijitToggleButtonChecked .dijitButtonNode {
    border: 1px solid #EA0;
    box-shadow: 0 0 5px rgba(255, 170, 42, 1);
}

.cw-loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Images/ajax-loader.gif);
}