.awCanvas-block {
    width: 1280px;
    height: 720px;
}

.awCanvas-fullscreen {
    width: 100%;
    height: 100%;
}


.awToolbar
{
	position: absolute;
	right: 5px;
	top: 5px;

	display: inline-block;
	z-index: 2;
}

.awButtonContainer {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 1px;
}

.awButtonContainer:hover {
    box-shadow: 0 0 4px #fff, 0 0 4px #fff;
}

.awBigButtonContainer {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 1px;
}

.awBigButtonContainer:hover {
    box-shadow: 0 0 4px #fff, 0 0 4px #fff;
}

.awRouteBtn {
    background: url(images/route_btn.png) no-repeat center;
}

.awRouteBtn[data-toggle=false] {
    background: url(images/route_btn_off.png) no-repeat center;
}

.awCockpitBtn {
    background: url(images/cockpit_btn.png) no-repeat center;
}

.awCockpitBtn[data-toggle=false] {
    background: url(images/cockpit_btn_off.png) no-repeat center;
}




.awButton {
    display: inline-block;

    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 14%;
    border: 1px solid #444;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    cursor: pointer;

    text-align: center;
    vertical-align: baseline;
    color: black;
    background-color: white;
}

.awButton:hover {
    background-color: #ccc;
}

.awButton[data-toggle=true] {
    background-color: #e6d9c5;
}

.awButtonBar {
    position: relative;
    text-align: right;
}

.awCockpitNav {
    position: relative;
    
    width: 82px;
    height: 82px;

    margin-top: 5px;
}

.awcLeft {
    position: absolute;
    top: 29px;
    left: 0px;
}

.awcRight {
    position: absolute;
    top: 29px;
    left: 58px;
}

.awcUp {
    position: absolute;
    top: 0px;
    left: 29px;
}

.awcDown {
    position: absolute;
    top: 58px;
    left: 29px;
}

.awcCenter {
    position: absolute;
    top: 29px;
    left: 29px;
}

.awcCenter span {
    background: url(images/crosshair.png) no-repeat center;
}

.awcLeft span {
    background: url(images/arrow_left.png) no-repeat center;
}

.awcRight span {
    background: url(images/arrow_right.png) no-repeat center;
}

.awcUp span {
    background: url(images/arrow_up.png) no-repeat center;
}

.awcDown span {
    background: url(images/arrow_down.png) no-repeat center;
}
