//@import "normalize.css/normalize.css";
@import "element";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#0AE4DC, #008BFF);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}
