.cesium-darker .sceneModeCommon {
    border: solid 1px #888;
    background-color: #222;
    color: white;
}

.cesium-darker .sceneModeCommon:hover {
    border: solid 1px #95CEE6;
    background-color: #4C8EB8;
}
