.sceneModeCommon {
    border: solid 1px #9BBFDF;
    background-color: #DFEFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: black;
}

.sceneModeCommon:hover {
    background-color: #A9D5FF;
}

.sceneModeWidget {
    background-image: url(../Images/sceneMode3D.svg);
}

.sceneMode3D {
    background-image: url(../Images/sceneMode3D.svg);
}

.sceneMode2D {
    background-image: url(../Images/sceneMode2D.svg);
}

.sceneModeColumbusView {
    background-image: url(../Images/sceneModeColumbusView.svg);
}

.sceneModeMorphing {
    background-image: url(../Images/sceneModeMorphing.svg);
}