.sceneModeCommon {
    border: solid 1px #888;
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.sceneModeCommon:hover {
    border: solid 1px #95CEE6;
    background-color: #4C8EB8;
}

.sceneModeWidget {
    background-image: url(../Images/sceneMode3D.svg);
}

.sceneMode3D {
    background-image: url(../Images/sceneMode3D.svg);
}

.sceneMode2D {
    background-image: url(../Images/sceneMode2D.svg);
}

.sceneModeColumbusView {
    background-image: url(../Images/sceneModeColumbusView.svg);
}

.sceneModeMorphing {
    background-image: url(../Images/sceneModeMorphing.svg);
}