@font-face {
  font-family: "mt-weather"; /* Project id 3283046 */
  src: url('iconfont.woff2?t=1652842832663') format('woff2'),
       url('iconfont.woff?t=1652842832663') format('woff'),
       url('iconfont.ttf?t=1652842832663') format('truetype'),
       url('iconfont.svg?t=1652842832663#iconfont') format('svg');
}

.mt-icons-weather {
  font-family: "mt-weather" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-weather-sundown:before {
  content: "\e689";
}

.mt-weather-sunup:before {
  content: "\e68a";
}

.mt-weather-baoxue-night:before {
  content: "\e664";
}

.mt-weather-bingbao-night:before {
  content: "\e665";
}

.mt-weather-duoyun-night:before {
  content: "\e666";
}

.mt-weather-baoyutodabaoyu-night:before {
  content: "\e667";
}

.mt-weather-datobaoyu-night:before {
  content: "\e668";
}

.mt-weather-unkown-night:before {
  content: "\e669";
}

.mt-weather-fuchen-night:before {
  content: "\e66a";
}

.mt-weather-dabaoyu-night:before {
  content: "\e66b";
}

.mt-weather-sandstorm-night:before {
  content: "\e66c";
}

.mt-weather-qiangshafengbao-night:before {
  content: "\e66d";
}

.mt-weather-baoyu-night:before {
  content: "\e66e";
}

.mt-weather-dayutotedabaoyu-night:before {
  content: "\e66f";
}

.mt-weather-qing-night:before {
  content: "\e670";
}

.mt-weather-leizhenyu-night:before {
  content: "\e671";
}

.mt-weather-dayu-night:before {
  content: "\e672";
}

.mt-weather-dongyu-night:before {
  content: "\e673";
}

.mt-weather-yujiaxue-night:before {
  content: "\e674";
}

.mt-weather-zhongtodayu-night:before {
  content: "\e675";
}

.mt-weather-taifeng-night:before {
  content: "\e676";
}

.mt-weather-mai-night:before {
  content: "\e677";
}

.mt-weather-wu-night:before {
  content: "\e678";
}

.mt-weather-zhongxue-night:before {
  content: "\e679";
}

.mt-weather-leizhenyu-night-1:before {
  content: "\e67a";
}

.mt-weather-shandian-night:before {
  content: "\e67b";
}

.mt-weather-largebaoyu-night:before {
  content: "\e67c";
}

.mt-weather-xiaotozhongxue-night:before {
  content: "\e67d";
}

.mt-weather-xiaoyu-night:before {
  content: "\e67e";
}

.mt-weather-daxue-night:before {
  content: "\e67f";
}

.mt-weather-xiaotozhongyu-night:before {
  content: "\e680";
}

.mt-weather-ying-night:before {
  content: "\e681";
}

.mt-weather-xiaoxue-night:before {
  content: "\e682";
}

.mt-weather-zhongyu-night:before {
  content: "\e683";
}

.mt-weather-yangsha-night:before {
  content: "\e684";
}

.mt-weather-zhenyu-night:before {
  content: "\e685";
}

.mt-weather-datobaoxue-night:before {
  content: "\e686";
}

.mt-weather-zhenxue-night:before {
  content: "\e687";
}

.mt-weather-zhongtodaxue-night:before {
  content: "\e688";
}

.mt-weather-wu:before {
  content: "\e663";
}

.mt-weather-dabaoyu:before {
  content: "\e63f";
}

.mt-weather-duoyun:before {
  content: "\e640";
}

.mt-weather-bingbao:before {
  content: "\e641";
}

.mt-weather-datobaoyu:before {
  content: "\e642";
}

.mt-weather-baoyu:before {
  content: "\e643";
}

.mt-weather-qiangshafengbao:before {
  content: "\e644";
}

.mt-weather-dayu:before {
  content: "\e645";
}

.mt-weather-shandian:before {
  content: "\e646";
}

.mt-weather-fuchen:before {
  content: "\e647";
}

.mt-weather-qing:before {
  content: "\e648";
}

.a-mt-weather-leizhenyubin:before {
  content: "\e649";
}

.mt-weather-baoyutodabaoyu:before {
  content: "\e64a";
}

.mt-weather-largebaoyu:before {
  content: "\e64b";
}

.mt-weather-mai:before {
  content: "\e64c";
}

.mt-weather-dayutotedabaoyu:before {
  content: "\e64d";
}

.mt-weather-baoxue:before {
  content: "\e64e";
}

.mt-weather-unkown:before {
  content: "\e64f";
}

.mt-weather-yangsha:before {
  content: "\e650";
}

.mt-weather-sandstorm:before {
  content: "\e651";
}

.mt-weather-dongyu:before {
  content: "\e652";
}

.mt-weather-taifeng:before {
  content: "\e653";
}

.mt-weather-ying:before {
  content: "\e654";
}

.mt-weather-xiaotozhongyu:before {
  content: "\e655";
}

.mt-weather-daxue:before {
  content: "\e656";
}

.mt-weather-zhongtodayu:before {
  content: "\e657";
}

.mt-weather-zhenxue:before {
  content: "\e658";
}

.mt-weather-zhongyu:before {
  content: "\e659";
}

.mt-weather-yujiaxue:before {
  content: "\e65a";
}

.mt-weather-xiaoyu:before {
  content: "\e65b";
}

.mt-weather-xiaoxue:before {
  content: "\e65c";
}

.mt-weather-xiaotozhongxue:before {
  content: "\e65d";
}

.mt-weather-zhenyu:before {
  content: "\e65e";
}

.mt-weather-leizhenyu:before {
  content: "\e65f";
}

.mt-weather-zhongtodaxue:before {
  content: "\e660";
}

.mt-weather-zhongxue:before {
  content: "\e661";
}

.mt-weather-datobaoxue:before {
  content: "\e662";
}

