.cesium-geocodingWidget-input {
    border: solid 1px #888;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    padding-left: 4px;
    padding-right: 32px;
    height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cesium-viewer-geocodingWidgetContainer:hover .cesium-geocodingWidget-input {
    box-shadow: 0 0 8px #fff, 0 0 8px #fff;
}

.cesium-geocodingWidget-goButton {
    display: inline-block;
    position: absolute;
    background-image: url(../Images/search.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 3px;
    cursor: pointer;
    width: 32px;
    top: 0;
    right: 0;
    height: 32px;
    vertical-align: middle;
}

.cesium-geocodingWidget-goButton:hover {
    background-color: rgba(76, 142, 184, 0.8);
}
