@import url('../../ThirdParty/dojo-release-1.7.2-src/dijit/themes/claro/claro.css');

html, body {
    margin: 0.4em;
    padding: 0;
    font-family: sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#loading {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: #eee;
    border: none;
    text-align: center;
    color: #777;
}
#loading span {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    margin: 0 0 1em;
    text-align: center;
    font-size: 18pt;
}

h1 img {
    display: block;
    border: none;
    margin: 0 auto;
}

a.linkButton, a.linkButton:visited {
    display: inline-block;
    margin: 0.2em;
}

a.linkButton:focus, a.linkButton:hover {
    text-decoration: none;
}
