@font-face {
  font-family: "JetBrains Mono";
  src: url("static/JetBrainsMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("static/JetBrainsMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("static/JetBrainsMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("static/JetBrainsMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("static/JetBrainsMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
