@import	url('../../ThirdParty/dojo-release-1.7.2-src/dijit/themes/claro/claro.css');
@import url('../../Source/Widgets/Dojo/CesiumViewerWidget.css');

html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	font-family: sans-serif;
}

#cesiumContainer {
	width: 100%;
	height: 100%;
}

.agiLogo {
    display: block;
    position: absolute;
    bottom: 64px;
    left: 125px;
    text-decoration: none;
}

.agiLogo img {
    border: none;
}
