@import url('../Dojo/Widgets/TimelineWidget.css');

html,body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#cesiumContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.timelineContainer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 25px;
    padding: 0 2px 2px;
}
