@import	url('../../ThirdParty/dojo-release-1.7.2-src/dijit/themes/claro/claro.css');
@import url('../../Source/Widgets/Dojo/CesiumViewerWidget.css');

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}
