.cesium-lighter .cesium-widget-button {
    color: #111;  /* For text buttons */
    fill: #111;   /* For SVG buttons */
    background: #e2f0ff;
    border: 1px solid #759dc0;
}

.cesium-lighter .cesium-widget-button:focus {
    color: #000;  /* For text buttons */
    fill: #000;   /* For SVG buttons */
    border-color: #ea4;
}

.cesium-lighter .cesium-widget-button:hover {
    color: #000;  /* For text buttons */
    fill: #000;   /* For SVG buttons */
    background: #a6d2ff;
    border-color: #aef;
    box-shadow: 0 0 8px #777;
}

.cesium-lighter .cesium-widget-button:active {
    color: #fff;  /* For text buttons */
    fill: #fff;   /* For SVG buttons */
    background: #48b;
    border-color: #ea0;
}

.cesium-lighter .cesium-widget-button:disabled,
.cesium-lighter .cesium-widget-button-disabled,
.cesium-lighter .cesium-widget-button-disabled:focus,
.cesium-lighter .cesium-widget-button-disabled:hover,
.cesium-lighter .cesium-widget-button-disabled:active {
    background: #ccc;
    border-color: #999;
    color: #999;  /* For text buttons */
    fill: #999;   /* For SVG buttons */
    box-shadow: none;
}

.cesium-lighter .cesium-widget-errorPanel {
    background: rgba(255, 255, 255, 0.7);
}

.cesium-lighter .cesium-widget-errorPanel-content {
    border: 1px solid #526F82;
    border-radius: 7px;
    background-color: white;
    color: black;
}

.cesium-lighter .cesium-widget-errorPanel-header {
    color: #B87D00;
}
