.cesium-cameraControl-dropDown,
.cesium-cameraControl-editor {
    display: block;
    position: absolute;
    top: auto;
    right: 0;
    width: 240px;
    max-height: 500px;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.9);
    color: #edffff;
    overflow: auto;
    border: 1px solid #444;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
    -webkit-transition: visibility 0s 0.25s, opacity 0.25s linear;
    -moz-transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.cesium-cameraControl-dropDown-visible,
.cesium-cameraControl-editor-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
}

.cesium-cameraControl-dropDown {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cesium-cameraControl-editor {
    font-size: 13px;
    padding: 4px 8px 4px 28px;
}

.cesium-cameraControl-editor p {
    margin: 0 0 0.8em;
    padding: 0;
}

.cesium-cameraControl-editor label,
.cesium-cameraControl-editor label input {
    cursor: pointer;
}

.cesium-cameraControl-editor label:hover span {
    text-decoration: underline;
}

.cesium-cameraControl-viewRow,
.cesium-cameraControl-addRow {
    display: block;
    position: relative;
    padding: 4px 32px;
    cursor: pointer;
    fill: transparent;
    stroke: #888;
    stroke-width: 2px;
}

.cesium-cameraControl-viewRow {
    border-bottom: 1px solid #444;
}

.cesium-cameraControl-viewRow:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cesium-cameraControl-addRow {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cesium-cameraControl-viewRow:hover,
.cesium-cameraControl-addRow:hover {
    background: #48b;
    color: #fff;
    fill: #fff;
    stroke: transparent;
    stroke-width: 1px;
}

button.cesium-cameraControl-addButton,
button.cesium-cameraControl-editButton,
button.cesium-cameraControl-viewButton {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: transparent;
    border-color: transparent;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0;
    fill: inherit;
}

button.cesium-cameraControl-editButton {
    left: auto;
    right: 4px;
}

.cesium-cameraControl-indicator {
    display: block;
    position: absolute;
    top: auto;
    left: 5px;
    width: 20px;
    height: 20px;
    fill: #edffff;
    vertical-align: middle;
}

.cesium-cameraControl-fov-slider {
    vertical-align: middle;
    width: 60%;
}

.cesium-cameraControl-fov-number {
    vertical-align: middle;
    width: 25%;
}
