.cesium-lighter .imageryCommon {
    color: black;
    background-image: url(../Images/button-lighter.svg);
}

.cesium-lighter .imageryChoice {
    color: black;
    background-image: url(../Images/button-lighter.svg);
}
