@font-face {
  font-family: 'mt-el';
  src: url('./iconfont.woff2?t=1650965804338') format('woff2'), url('./iconfont.woff?t=1650965804338') format('woff'),
    url('./iconfont.ttf?t=1650965804338') format('truetype'),
    url('./iconfont.svg?t=1650965804338#iconfont') format('svg');
}

.mt-icons-el {
  font-family: 'mt-el' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-el-minqiya:before {
  content: '\e680';
}

.mt-el-1minvisibility:before {
  content: '\e64f';
}

.mt-el-10cmgroundtemp:before {
  content: '\e650';
}

.mt-el-24hbianwen:before {
  content: '\e651';
}

.mt-el-groundtemp:before {
  content: '\e652';
}

.mt-el-3hbianya:before {
  content: '\e653';
}

.mt-el-jidawind:before {
  content: '\e654';
}

.mt-el-2minwind:before {
  content: '\e655';
}

.mt-el-10minvisibility:before {
  content: '\e656';
}

.mt-el-20cmgroundtemp:before {
  content: '\e657';
}

.mt-el-10minwind:before {
  content: '\e658';
}

.mt-el-80cmgroundtemp:before {
  content: '\e659';
}

.mt-el-temp:before {
  content: '\e65a';
}

.mt-el-jiangxue:before {
  content: '\e65b';
}

.mt-el-visibility:before {
  content: '\e65c';
}

.mt-el-lowcloudage:before {
  content: '\e65d';
}

.mt-el-cloudage:before {
  content: '\e65e';
}

.mt-el-5cmgroundtemp:before {
  content: '\e65f';
}

.mt-el-zhengfa:before {
  content: '\e660';
}

.mt-el-allradiatezhaodu:before {
  content: '\e661';
}

.mt-el-grassgroundtemp:before {
  content: '\e662';
}

.mt-el-40cmgroundtemp:before {
  content: '\e663';
}

.mt-el-haipingmianqiya:before {
  content: '\e664';
}

.mt-el-yundigaodu:before {
  content: '\e665';
}

.mt-el-24bianya:before {
  content: '\e666';
}

.mt-el-shuiqiya:before {
  content: '\e667';
}

.mt-el-shuishiwind:before {
  content: '\e668';
}

.mt-el-ludianwendu:before {
  content: '\e669';
}

.mt-el-xueya:before {
  content: '\e66a';
}

.mt-el-15cmgroundtemp:before {
  content: '\e66b';
}

.mt-el-160cmgroundtemp:before {
  content: '\e66c';
}

.mt-el-320cmgroundtemp:before {
  content: '\e66d';
}

.mt-el-mingroundtemp:before {
  content: '\e66e';
}

.mt-el-qiya:before {
  content: '\e66f';
}

.mt-el-mintemp:before {
  content: '\e670';
}

.mt-el-jixueshendu:before {
  content: '\e671';
}

.mt-el-minvisibility:before {
  content: '\e672';
}

.mt-el-maxwind:before {
  content: '\e673';
}

.mt-el-jianghsui:before {
  content: '\e674';
}

.mt-el-mingrassgroundtemp:before {
  content: '\e675';
}

.mt-el-maxtemp:before {
  content: '\e676';
}

.mt-el-maxgroundtemp:before {
  content: '\e677';
}

.mt-el-allcloudage:before {
  content: '\e678';
}

.mt-el-sunlighthours:before {
  content: '\e679';
}

.mt-el-maxgrassgroundtemp:before {
  content: '\e67a';
}

.mt-el-minhumidity:before {
  content: '\e67b';
}

.mt-el-xiangduishidu:before {
  content: '\e67c';
}

.mt-el-maxallradiatezhaodu:before {
  content: '\e67d';
}

.mt-el-allradiate:before {
  content: '\e67e';
}

.mt-el-maxqiya:before {
  content: '\e67f';
}
