.cesium-dataSourceBrowser ul,.cesium-dataSourceBrowser li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cesium-dataSourceBrowser input {
    position: absolute;
    opacity: 0;
}

.cesium-dataSourceBrowser {
    font-family: sans-serif;
    font-size: 11px;
    color: #edffff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cesium-dataSourceBrowser input+label+ul {
    margin: 0 0 0 22px;
}

.cesium-dataSourceBrowser input~ul {
    display: none;
}

.cesium-dataSourceBrowser label,.cesium-dataSourceBrowser input,.cesium-dataSourceBrowser label::before {
    cursor: pointer;
}

.cesium-dataSourceBrowser input:checked~ul {
    display: block;
}

.cesium-dataSourceBrowser label,.cesium-dataSourceBrowser label::before {
    background: url(../Images/DataSourceBrowserIcons.png) no-repeat;
}

.cesium-dataSourceBrowser label,.cesium-dataSourceBrowser a,.cesium-dataSourceBrowser label::before {
    display: inline-block;
    height: 16px;
    line-height: 16px; ,
    vertical-align: middle;
}

.cesium-dataSourceBrowser label {
    background-position: 18px 0;
}

.cesium-dataSourceBrowser label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.cesium-dataSourceBrowser input:checked+label::before {
    background-position: 0 -16px;
}

.cesium-dataSourceBrowser-addDataSourcePanel {
}

.cesium-dataSourceBrowser-visible {
    display: block;
}

.cesium-dataSourceBrowser-hidden {
    display: none;
}