.cesium-dataSourceBrowser {
    font-family: sans-serif;
    font-size: 15px;
    color: #edffff;
}

/* Begin exact copy of cesium-widget-button */
.cesium-dataSourceBrowser-button {
    display: inline-block;
    background: #303336;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 4px 12px;
    margin: 0 3px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cesium-dataSourceBrowser-button:focus {
    color: #fff;
    border-color: #ea4;
}

.cesium-dataSourceBrowser-button:hover {
    color: #fff;
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.cesium-dataSourceBrowser-button:active {
    color: #000;
    background: #adf;
    border-color: #fff;
    box-shadow: 0 0 8px #fff;
}
/* End copy of cesium-widget-button */

.cesium-dataSourceBrowser-dataSourcePanelContainer-header {
    text-align: center;
    margin-bottom: 5px;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-footer {
    margin-top: 5px;
    text-align: right;
}

.cesium-dataSourceBrowser-activeDataSourcePanelContainer {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cesium-dataSourceBrowser-dataSourcesContainer,.cesium-dataSourceBrowser-dataSourcePanelContainer {
    background-color: rgba(38, 38, 38, 0.75);
    padding: 6px;
    border-radius: 10px;
    overflow: auto;
    width: 300px;
    max-height: 500px;
    float: left;
    margin-right: 10px;
}

.cesium-dataSourceBrowser-dataSources ul,ul.cesium-dataSourceBrowser-dataSources,.cesium-dataSourceBrowser-dataSources li {
    padding: 0;
    margin: 2px 0;
    list-style: none;
}

.cesium-dataSourceBrowser-dataSources input {
    position: absolute;
    opacity: 0;
}

.cesium-dataSourceBrowser-dataSources input+label+ul {
    margin: 0 0 0 22px;
}

.cesium-dataSourceBrowser-dataSources input~ul {
    display: none;
}

.cesium-dataSourceBrowser-dataSources input:checked~ul {
    display: block;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources input,.cesium-dataSourceBrowser-dataSources label::before {
    cursor: pointer;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources label::before {
    background: url(../Images/DataSourceBrowserIcons.png) no-repeat;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources a,.cesium-dataSourceBrowser-dataSources label::before {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}

.cesium-dataSourceBrowser-dataSources label {
    background-position: 23px 0;
}

.cesium-dataSourceBrowser-dataSources label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.cesium-dataSourceBrowser-dataSources input:checked+label::before {
    background-position: 0 -16px;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer {
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceSelected,
.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceSelected:hover {
    color: #2e2;
    border-color: #2e2;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-visible {
    display: block;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-hidden {
    display: none;
}

.cesium-dataSourceBrowser-item {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px transparent;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.cesium-dataSourceBrowser-item-selected {
    border-color: #2e2;
}

.cesium-dataSourceBrowser-item:hover {
    background-color: rgba(68, 136, 187, 0.5);  /* RGB is #48b */
    text-decoration: underline;
    box-shadow: 0 0 5px #48b;
}
