.cesium-dataSourceBrowser {
    font-family: sans-serif;
    font-size: 15px;
    color: #edffff;
}

.cesium-dataSourceBrowser ul, .cesium-dataSourceBrowser li {
    list-style: none;
    margin: 0 0 0 8px;
    padding: 0;
}

/* Begin exact copy of cesium-widget-button */
.cesium-dataSourceBrowser-button {
    display: inline-block;
    background: #303336;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 4px 12px;
    margin: 0 3px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cesium-dataSourceBrowser-button:focus {
    color: #fff;
    border-color: #ea4;
}

.cesium-dataSourceBrowser-button:hover {
    color: #fff;
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.cesium-dataSourceBrowser-button:active {
    color: #000;
    background: #adf;
    border-color: #fff;
    box-shadow: 0 0 8px #fff;
}
/* End copy of cesium-widget-button */

.cesium-dataSourceBrowser-button-disabled,
.cesium-dataSourceBrowser-button-disabled:focus,
.cesium-dataSourceBrowser-button-disabled:hover,
.cesium-dataSourceBrowser-button-disabled:active {
    background: #303336;
    border-color: #444;
    color: #888;
    box-shadow: none;
    cursor: default;
}

.cesium-dataSourceBrowser-dataSourcesContainer {
    position: absolute;
    top: 5px;
    left: -380px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(38, 38, 38, 0.95);
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 360px;
    -webkit-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    -moz-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
}

.cesium-dataSourceBrowser-dataSourcesContainer-visible {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: left 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: left 0.2s ease-out, opacity 0.2s ease-out;
    transition: left 0.2s ease-out, opacity 0.2s ease-out;
}

.cesium-dataSourceBrowser-dataSourcesContainer-obscured {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    -moz-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
}

.cesium-dataSourceBrowser-dataSourcesContainerHeader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(84, 84, 84, 0.8);
    color: #edffff;
    font-weight: bold;
    margin: 0 0 2px 0;
    padding: 6px 6px 6px 110px;
    letter-spacing: 1px;
}

.cesium-dataSourceBrowser-dataSourcesContainerHide {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 1px 12px;
    background-color: transparent;
}

.cesium-dataSourceBrowser-addDataSourceButton {
    position: absolute;
    top: 1px;
    right: 45px;
    border: 1px solid transparent;
    background-color: transparent;
    letter-spacing: 0;
}

.cesium-dataSourceBrowser-dataSourcesInfo {
    padding-left: 110px;
}

ul.cesium-dataSourceBrowser-dataSources {
    margin: 0;
}

/*
.cesium-dataSourceBrowser-dataSources ul,ul.cesium-dataSourceBrowser-dataSources,.cesium-dataSourceBrowser-dataSources li {
    padding: 0;
    margin: 2px 0;
    list-style: none;
}

.cesium-dataSourceBrowser-dataSources input {
    position: absolute;
    opacity: 0;
}

.cesium-dataSourceBrowser-dataSources input+label+ul {
    margin: 0 0 0 22px;
}

.cesium-dataSourceBrowser-dataSources input~ul {
    display: none;
}

.cesium-dataSourceBrowser-dataSources input:checked~ul {
    display: block;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources input,.cesium-dataSourceBrowser-dataSources label::before {
    cursor: pointer;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources label::before {
    background: url(../Images/DataSourceBrowserIcons.png) no-repeat;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources a,.cesium-dataSourceBrowser-dataSources label::before {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}

.cesium-dataSourceBrowser-dataSources label {
    background-position: 23px 0;
}

.cesium-dataSourceBrowser-dataSources label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.cesium-dataSourceBrowser-dataSources input:checked+label::before {
    background-position: 0 -16px;
}
*/

.cesium-dataSourceBrowser-dataSourcesContainerBody {
    width: 100%;
    max-height: 500px;
    overflow: auto;
    padding-bottom: 2px;
}

li:nth-child(odd) > .cesium-dataSourceBrowser-item,
li:nth-child(even) > div > .cesium-dataSourceBrowser-item {
    background-color: rgba(255, 255, 255, 0.08);
}

.cesium-dataSourceBrowser-item {
    display: block;
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    color: #d9eded;
    cursor: pointer;
    padding: 1px 5px;
    margin: 0 4px 2px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px transparent;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.cesium-dataSourceBrowser-item-selected {
    border-color: #2e2;
}

.cesium-dataSourceBrowser-item-collapsed ul {
    display: none;
}

.cesium-dataSourceBrowser-item:hover,
li:nth-child(odd) > .cesium-dataSourceBrowser-item:hover,
li:nth-child(even) > div > .cesium-dataSourceBrowser-item:hover {
    background-color: rgba(68, 136, 187, 0.5);  /* RGB is #48b */
    box-shadow: 0 0 5px #48b;
}

.cesium-dataSourceBrowser-item-remove {
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 16px;
}

.cesium-dataSourceBrowser-item-remove:hover {
    background-color: #650;
    border-color: #ff0;
    color: #ff0;
}

.cesium-dataSourceBrowser-dataSource {
    margin-right: 40px;
}

.cesium-dataSourceBrowser-layerButton {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 32px;
    height: 32px;
    background-image: url(../Images/layers.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 14%;
    cursor: pointer;
}

.cesium-dataSourceBrowser-layerButton:hover {
    box-shadow: 0 0 8px #fff, 0 0 8px #fff;
}

.cesium-dataSourceBrowser-layerButton-hidden {
    display: none;
}

/*
 * Add data source panels
 */

.cesium-dataSourceBrowser-dataSourcePanelContainer {
    display: block;
    position: absolute;
    top: 5px;
    left: -380px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(38, 38, 38, 0.85);
    border: 1px solid #444;
    padding: 6px;
    border-radius: 7px;
    overflow: auto;
    width: 480px;
    -webkit-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    -moz-transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0s 0.25s, left 0.2s ease-in, opacity 0.2s ease-in;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-visible {
    left: 5px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: left 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: left 0.2s ease-out, opacity 0.2s ease-out;
    transition: left 0.2s ease-out, opacity 0.2s ease-out;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-header {
    text-align: center;
    margin-bottom: 5px;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-footer {
    margin-top: 5px;
    text-align: right;
}

.cesium-dataSourceBrowser-activeDataSourcePanelContainer {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceOptions {
    padding: 2px 0 5px;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceSelected,
.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceSelected:hover {
    color: #2e2;
    border-color: #2e2;
}
