.cesium-dataSourceBrowser {
    font-family: sans-serif;
    font-size: 11px;
    color: #edffff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cesium-dataSourceBrowser-dataSourcesContainer,.cesium-dataSourceBrowser-dataSourcePanelContainer {
    background-color: rgba(38, 38, 38, 0.75);
    padding: 6px;
    border-radius: 10px;
    overflow: auto;
    width: 300px;
    max-height: 500px;
    float: left;
}

.cesium-dataSourceBrowser-dataSources ul,ul.cesium-dataSourceBrowser-dataSources,.cesium-dataSourceBrowser-dataSources li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cesium-dataSourceBrowser-dataSources input {
    position: absolute;
    opacity: 0;
}

.cesium-dataSourceBrowser-dataSources input+label+ul {
    margin: 0 0 0 22px;
}

.cesium-dataSourceBrowser-dataSources input~ul {
    display: none;
}

.cesium-dataSourceBrowser-dataSources input:checked~ul {
    display: block;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources input,.cesium-dataSourceBrowser-dataSources label::before {
    cursor: pointer;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources label::before {
    background: url(../Images/DataSourceBrowserIcons.png) no-repeat;
}

.cesium-dataSourceBrowser-dataSources label,.cesium-dataSourceBrowser-dataSources a,.cesium-dataSourceBrowser-dataSources label::before {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}

.cesium-dataSourceBrowser-dataSources label {
    background-position: 18px 0;
}

.cesium-dataSourceBrowser-dataSources label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.cesium-dataSourceBrowser-dataSources input:checked+label::before {
    background-position: 0 -16px;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer {
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-dataSourceSelected {
    color: #ffeb00;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-visible {
    display: block;
}

.cesium-dataSourceBrowser-dataSourcePanelContainer-hidden {
    display: none;
}