body {
    margin: 0;
    padding: 0;
}

.cesium-infoBox-description {
    font-size: 13px;
    padding: 4px 10px;
    margin-right: 4px;
    color: #edffff;
}

.cesium-infoBox-defaultTable {
    width: 100%;
    color: #edffff;
}

.cesium-infoBox-defaultTable tr:nth-child(odd) {
    background-color: rgba(84, 84, 84, 0.8);
}

.cesium-infoBox-defaultTable tr:nth-child(even) {
    background-color: rgba(84, 84, 84, 0.25);
}

.cesium-infoBox-defaultTable th {
    font-weight: normal;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}

.cesium-infoBox-defaultTable td {
    padding: 3px;
    vertical-align: middle;
    text-align: left;
}