.cesium-infoBox {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 40%;
    max-width: 360px;
    background: rgba(38, 38, 38, 0.95);
    color: #edffff;
    border: 1px solid #444;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 0 10px 1px #000;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transform: translate(100%, 0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.cesium-infoBox-visible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.cesium-infoBox-title {
    display: block;
    height: 20px;
    padding: 5px 30px 5px 25px;
    background: rgba(84, 84, 84, 0.8);
    border-top-left-radius: 7px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cesium-infoBox-bodyless .cesium-infoBox-title {
    border-bottom-left-radius: 7px;
}

button.cesium-infoBox-camera {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: transparent;
    border-color: transparent;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0;
}

button.cesium-infoBox-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    background: transparent;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size:16px;
    padding: 0 5px;
    margin: 0;
    color: #edffff;
}

button.cesium-infoBox-close:focus {
    background: rgba(238, 136, 0, 0.44);
    outline: none;
}

button.cesium-infoBox-close:hover {
    background: #888;
    color: #000;
}

button.cesium-infoBox-close:active {
    background: #a00;
    color: #000;
}

.cesium-infoBox-body {
    padding: 4px 10px;
    margin-right: 4px;
    overflow: auto;
}

.cesium-infoBox-bodyless .cesium-infoBox-body {
    display: none;
}

.cesium-infoBox-loadingContainer {
    margin: 5px;
    text-align: center;
}

.cesium-infoBox-loading {
    display: inline-block;
    background-image: url(../Images/info-loading.gif);
    width: 16px;
    height: 11px;
}

.cesium-infoBox-description {
    font-size: 13px;
}

.cesium-infoBox-defaultTable {
    width: 100%;
}

.cesium-infoBox-defaultTable tr:nth-child(odd) {
    background-color: rgba(84, 84, 84, 0.8);
}

.cesium-infoBox-defaultTable tr:nth-child(even) {
    background-color: rgba(84, 84, 84, 0.25);
}

.cesium-infoBox-defaultTable th {
    font-weight: normal;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}

.cesium-infoBox-defaultTable td {
    padding: 3px;
    vertical-align: middle;
    text-align: left;
}