.cesium-darker .animation-themeNormal {
    color: #222;
}
.cesium-darker .animation-themeHover {
    color: #4488B0;
}
.cesium-darker .animation-themeSelect {
    color: #242;
}
.cesium-darker .animation-themeDisabled {
    color: #333;
}
.cesium-darker .animation-themeKnob {
    color: #222;
}
.cesium-darker .animation-themePointer {
    color: #2E2;
}
.cesium-darker .animation-themeSwoosh {
    color: #8AC;
}
.cesium-darker .animation-themeSwooshHover {
    color: #AEF;
}
.cesium-darker .animation-svgText {
    fill: #edffff;
}
.cesium-darker .animation-rectButton .animation-buttonPath {
    fill: #edffff;
}
.cesium-darker .animation-rectButton .animation-buttonMain {
    stroke: #444;
}
.cesium-darker .animation-buttonToggled .animation-buttonGlow {
    fill: #2E2;
}
.cesium-darker .animation-buttonToggled .animation-buttonMain {
    stroke: #2E2;
}
.cesium-darker .animation-rectButton:hover .animation-buttonMain {
    stroke: #AEF;
}
.cesium-darker .animation-buttonToggled:hover .animation-buttonGlow {
    fill: #fff;
}
.cesium-darker .animation-buttonToggled:hover .animation-buttonMain {
    stroke: #2E2;
}
.cesium-darker .animation-rectButton:active .animation-buttonMain {
    fill: #ABD6FF;
}
.cesium-darker .animation-buttonDisabled .animation-buttonMain {
    stroke: #555;
}
.cesium-darker .animation-buttonDisabled .animation-buttonPath {
    fill: #818181;
}
.cesium-darker .animation-shuttleRingBack {
    fill: #181818;
    fill-opacity: 0.8;
    stroke: #333;
    stroke-width: 1.2;
}
.cesium-darker .animation-shuttleRingSwoosh line {
    stroke: #8AC;
}
.cesium-darker .animation-knobOuter {
    stroke: #444;
}