.cesium-cesiumInspector-button {
    width: 130px;
    height: 32px;
    border-radius: 5px;
}

.cesium-cesiumInspectorPanel-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
}

.cesium-cesiumInspectorPanel-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
    -webkit-transition: visibility 0s 0.25s, opacity 0.25s linear;
    -moz-transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.cesium-cesiumInspector-show {
    visibility: visible;
    height: auto;
}
.cesium-cesiumInspector-hide {
    visibility: hidden;
    height: 0;
}

.cesium-cesiumInspectorPanel-dropDown {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 33px;
    left: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
    font-size: 10pt;
}

.cesium-cesiumInspectorPanel-frustumStats {
    padding-left: 10px;
    background-color: rgba(80, 80, 80, 0.75);
}