.cesium-cesiumInspector {
    border-radius: 5px;
    -webkit-transition: width ease-in-out 0.25s;
    -moz-transition: width ease-in-out 0.25s;
    transition: width ease-in-out 0.25s;
    background: rgba(48, 51, 54, 0.8);
    border: 1px solid #444;
    color: #edffff;
    display: inline-block;
    position: relative;
    padding: 4px 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.cesium-cesiumInspector-button {
    text-align: center;
    font-size: 11pt;
}

.cesium-cesiumInspector-visible .cesium-cesiumInspector-button {
    border-bottom: 1px solid #aaa;
    padding-bottom: 3px;
}

.cesium-cesiumInspector input:enabled, .cesium-cesiumInspector-button {
    cursor: pointer;
}

.cesium-cesiumInspector-visible {
    width: 185px;
    height: auto;
}

.cesium-cesiumInspector-hidden {
    width: 122px;
    height: 17px;
}

.cesium-cesiumInspector-show {
    max-height: 1000px;
}

.cesium-cesiumInspector-hide {
    max-height: 0;
    padding: 0 !important;
    overflow: hidden;
}

.cesium-cesiumInspector-dropDown {
    margin: 5px 0;
    font-family: sans-serif;
    font-size: 10pt;
    width: 185px;
}

.cesium-cesiumInspector-frustumStats {
    padding-left: 10px;
    padding: 5px;
    background-color: rgba(80, 80, 80, 0.75);
}

.cesium-cesiumInspector-pickButton {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #444;
    color: #edffff;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
}

.cesium-cesiumInspector-pickButton:focus {
    outline: none;
}

.cesium-cesiumInspector-pickButton:active, .cesium-cesiumInspector-pickButtonHighlight {
    color: #000; /* For text buttons */
    background: #adf;
    border-color: #fff;
    box-shadow: 0 0 8px #fff;
}

.cesium-cesiumInspector-center {
    text-align: center;
}

.cesium-cesiumInspector-sectionHeader {
    font-weight: bold;
}

.cesium-cesiumInspector-pickSection {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

.cesium-cesiumInspector-section {
    margin-bottom: 10px;
    -webkit-transition: max-height 0.25s;
    -moz-transition: max-height 0.25s;
    transition: max-height 0.25s;
}

.cesium-cesiumInspector-toggleSwitch {
    padding: 3px;
    cursor: pointer;
}

.cesium-cesiumInspector-tileText {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.cesium-cesiumInspector-relativeText {
    padding-top: 10px;
}

ul.cesium-cesiumInspector-stats {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

ul.cesium-cesiumInspector-stats + ul.cesium-cesiumInspector-stats {
    border-top: 1px solid #aaa;
}

.cesium-cesiumInspector-slider {
    margin-top: 5px;
}

.cesium-cesiumInspector-slider input[type=number] {
    text-align: left;
    background-color: #222;
    outline: none;
    border: 1px solid #444;
    color: #edffff;
    width: 100px;
    border-radius: 3px;
    padding: 1px;
    margin-left: 10px;
    cursor: auto;
}

.cesium-cesiumInspector-slider input[type=number]::-webkit-outer-spin-button,
.cesium-cesiumInspector-slider input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cesium-cesiumInspector-slider input[type=range] {
    margin-left: 5px;
    vertical-align: middle;
    -webkit-appearance: none;
    background: #ddd;
    height: 3px;
}

input[type=range]:focus {
    outline: none;
}

.cesium-cesiumInspector-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.cesium-cesiumInspector-slider input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.cesium-cesiumInspector-slider input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.cesium-cesiumInspector-hide .cesium-cesiumInspector-styleEditor {
    display: none;
}

.cesium-cesiumInspector-styleEditor {
    padding: 10px;
    border-radius: 5px;
    background: rgba(48, 51, 54, 0.8);
    border: 1px solid #444;
}

.cesium-cesiumInspector-styleEditor textarea {
    width: 100%;
    height: 300px;
    background: transparent;
    color: #edffff;
    border: none;
    padding: 0;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

.cesium-3DTilesInspector {
    width: 300px;
    pointer-events: all;
}

.cesium-3DTilesInspector div, .cesium-3DTilesInspector input[type=range] {
    width: 100%;
    box-sizing: border-box;
}

.cesium-cesiumInspector-error {
    color: #ff9e9e;
    overflow: auto;
}

.cesium-3DTilesInspector .cesium-cesiumInspector-section {
    margin-top: 3px;
}

.cesium-3DTilesInspector .cesium-cesiumInspector-sectionHeader + .cesium-cesiumInspector-show {
    border-top: 1px solid white;
}

input.cesium-cesiumInspector-url {
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    height: 1em;
    width: 100%;
}

.cesium-cesiumInspector .field-group {
    display: table;
}

.cesium-cesiumInspector .field-group > label {
    display: table-cell;
    font-weight: bold;
}

.cesium-cesiumInspector .field-group > .field {
    display: table-cell;
    width: 100%;
}
