<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><?js= title ?> - Cesium Documentation</title>
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <script src="javascript/all.js"></script>
    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="styles/shCore.css" media="all"></link>
    <link rel="stylesheet" href="styles/shThemeDefault.css" media="all"></link>
    <script src="javascript/shCore.js"></script>
    <script src="javascript/shBrushJScript.js"></script>
    <base target="_blank"/>
</head>

<body>
<div id="bkgd">

<div class="nav">
    <div class="menu">
        <a href="http://cesiumjs.org/"><img src="images/CesiumLogo.jpg" class="menuLogo"/></a>
        <div class="rightLinks indexLinks">
            <a href="index.html">top</a>
        </div>
        <div class="indexLinks">
            <a id="allLink">all</a>
            <a id="jsIndexLink">js</a>
            <a id="glslIndexLink">glsl</a>
        </div>
        <div class="divider"></div>
        <form name="filterForm" method="get" onsubmit="return false;">
            <input type="text" name="classFilter" class="classFilter" id="ClassFilter" placeholder="Filter"></input>
            <input type="hidden" id="filterType" value="all"/>
        </form>
        <?js= this.nav ?>
    </div>
</div>
<div class="nav navStatic"></div>

<div id="main">
    
    <h1 class="page-title"><?js= title ?></h1>
    
    <?js= content ?>
    <footer>
        Documentation generated by <a href="https://github.com/micmath/jsdoc">JSDoc 3</a> on <?js= (new Date()) ?>
    </footer>
</div>
</div>
<br clear="both">

<script type="text/javascript">
    codeview.classFilter.Init();
    
    if (window.frameElement) {
        document.body.className = "embedded";
        var ele = document.createElement('a');
        ele.className = "popout";
        ele.target = "_blank";
        ele.href = window.location.href;
        ele.title = "Pop out";
        document.getElementById('main').appendChild(ele);
        
        ele = document.createElement('a');
        ele.className = "back";
        ele.href = "index.html";
        ele.title = "Home";
        ele.target = "_self";
        document.getElementById('main').appendChild(ele);
        
        
    } else {
        document.getElementById('bkgd').className = "show-bkgd";
    }
    var searchTerm = (document.URL.split('='))[1];
    var show = (document.URL.split('='))[2];
    
    if (show) {
       document.getElementById("filterType").value = show;
    } 
    
    if(searchTerm){
        searchTerm = searchTerm.split('&')[0] || '';
        document.filterForm.classFilter.value = searchTerm;
    }
    else {
        searchTerm="";
    }
    codeview.filter(searchTerm);
    
    SyntaxHighlighter.all();
</script>
<script src="javascript/indexLinks.js"></script>
</body>
</html>
