.jasmine_html-reporter .progress {
    position: relative;
    background: linear-gradient(to bottom, #67addf 0%,#ffffff 50%,#5c8727 100%);
    height: 20px;
    margin: 14px 0;
}

.jasmine_html-reporter .banner {
    margin: 14px 0;
}

.jasmine_html-reporter .results {
    display: block;
}