.sandcastle-root {
  display: grid;
  width: 100vw;
  height: 100vh;
  --header-height: min-content;
  --app-bar-width: 53px;
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: var(--app-bar-width) auto;
  grid-template-areas: "header header" "app-bar content";

  header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: var(--stratakit-space-x2);
    padding-right: var(--stratakit-space-x4);
    gap: var(--stratakit-space-x2);
    background: var(--stratakit-color-bg-page-depth);
    border-bottom: var(--stratakit-ext-border-border) solid
      var(--stratakit-color-border-page-base);

    .metadata {
      margin-left: var(--stratakit-space-x2);
      color: var(--stratakit-color-text-accent-strong);
      cursor: pointer;
    }

    .version {
      color: var(--stratakit-color-text-neutral-secondary);
    }
  }

  .application-bar {
    grid-area: app-bar;
    display: flex;
    flex-direction: column;
    padding: var(--stratakit-space-x2);
    gap: var(--stratakit-space-x2);
    background: var(--stratakit-color-bg-page-depth);
    border-right: var(--stratakit-ext-border-border) solid
      var(--stratakit-color-border-page-base);

    button {
      /* Force buttons to be square */
      padding: var(--stratakit-space-x2);
    }
  }

  .content {
    grid-area: content;
  }
}

.flex-spacer {
  flex-grow: 1000;
}

.split-view {
  /* These control the styling of the Allotment dividers */
  --focus-border: var(--stratakit-color-border-accent-base);
  --separator-border: var(--stratakit-color-border-neutral-base);
}
