.sandcastle-root {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr;
  /* TODO: This is needed to override the App.css until I fix the imports */
  grid-template-columns: 1fr;
}
