.bucket-container {
  height: 100%;
  background-color: var(--stratakit-color-bg-page-base);
  background-image: var(--_rings), var(--_gradient);
  --_rings: repeating-radial-gradient(
    circle at center,
    var(--stratakit-color-border-neutral-muted) 1px,
    var(--stratakit-color-border-neutral-muted) 3px,
    transparent 3px,
    transparent 25px
  );
  --_gradient: linear-gradient(
    180deg,
    var(--stratakit-color-bg-page-base) 0%,
    var(--stratakit-color-bg-page-depth) 100%
  );

  .fullFrame {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #eee;
  }

  .error-message {
    border: 1px solid var(--stratakit-color-border-critical-base);
    background: var(--stratakit-color-bg-page-depth);
    width: 75%;
    max-width: 500px;
    padding: var(--stratakit-space-x2);
    border-radius: var(--stratakit-ext-radius-md);

    span {
      font-size: 1rem;
      font-family: monospace;
      font-weight: normal;
    }
  }
}
