.button {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--highlight),
    inset 0 -1px 0 var(--shadow),
    0 1px 1px var(--shadow);
  font-weight: 500;
}

.button:where(.dark, .dark *) {
  --border: rgb(255 255 255/10%);
  --highlight: rgb(255 255 255/5%);
  --shadow: rgb(0 0 0/25%);
  background-color: rgb(255 255 255 / 0.05);
  color: white;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 -1px 0 1px var(--shadow),
    inset 0 1px 0 var(--highlight);
}

.button:not(:active):hover {
  --border: rgb(0 0 0/33%);
}

.button:where(.dark, .dark *):not(:active):hover {
  --border: rgb(255 255 255/25%);
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  padding-top: 0.125rem;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--border);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.button:active:where(.dark, .dark *),
.button[data-active]:where(.dark, .dark *) {
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 1px 1px 1px var(--shadow);
}

.popover {
  z-index: 50;
  display: flex;
  max-width: min(calc(100vw - 16px), 320px);
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: white;
  padding: 1rem;
  color: black;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.popover:focus-visible,
.popover[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: 2px;
}

.popover:where(.dark, .dark *) {
  border-color: hsl(204 4% 24%);
  background-color: hsl(204 4% 16%);
  color: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.arrow > svg {
  fill: white;
  stroke: hsl(204 20% 88%);
}

.arrow:where(.dark, .dark *) > svg {
  fill: hsl(204 4% 16%);
  stroke: hsl(204 4% 24%);
}

.heading {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}
