.editor-container {
  grid-area: code;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    align-items: flex-end;
    padding-left: var(--stratakit-space-x1);
  }

  .editor-actions {
    display: flex;
    gap: var(--stratakit-space-x1);
    padding: var(--stratakit-space-x1);

    .icon-button {
      padding: var(--stratakit-space-x1);
    }
  }

  .editor-wrapper {
    border-top: var(--stratakit-ext-border-border) solid
      var(--stratakit-color-border-neutral-muted);
    flex-shrink: 1;
    /* Monaco needs a defined height for dynamic resizing to work */
    height: 100%;
  }
  .myInlineDecoration {
    color: red !important;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
  }

  .myLineDecoration {
    background: lightblue;
    width: 5px !important;
    margin-left: 3px;
  }

  .highlight {
    background: rgba(100, 0, 255, 0.5);
  }
  .highlight-2 {
    background: lightblue;
  }
  .highlight-3 {
    background: lightgreen;
  }
}
