.settings-row {
  display: flex;
  justify-content: space-between;

  .multi-option {
    display: flex;
    flex-direction: column;
    gap: var(--stratakit-space-x2);

    &.horizontal {
      flex-direction: row;
    }
  }
}
