.share-popover {
  .input-row {
    display: flex;
    align-items: flex-start;
    gap: var(--stratakit-space-x2);

    textarea {
      flex-grow: 1;
      /** mono-sm */
      font-family: var(--stratakit-font-family-mono);
      font-size: var(--stratakit-font-size-12);
      line-height: 1.3333;
    }
  }
}
