.sandcastle-root {
  display: grid;
  width: 100vw;
  height: 100vh;
  --header-height: min-content;
  --app-bar-width: 70px;
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: var(--app-bar-width) auto;
  grid-template-areas: "header header" "app-bar content";

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em 0.5em;
    gap: 0.5em;
    background: var(--stratakit-color-bg-page-depth);

    .metadata {
      margin-left: 0.5em;
      color: var(--stratakit-color-text-accent-strong);
    }

    .version {
      color: var(--stratakit-color-text-neutral-secondary);
    }
  }

  .application-bar {
    grid-area: app-bar;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.3em;
    background: var(--stratakit-color-bg-page-depth);
  }

  .content {
    grid-area: content;
  }
}

.flex-spacer {
  flex-grow: 1000;
}

.split-view {
  /* These control the styling of the Allotment dividers */
  --focus-border: var(--stratakit-color-border-accent-base);
  --separator-border: var(--stratakit-color-border-neutral-base);
}

.right-panel {
  .console-mirror {
    .console-snapshot {
      display: flex;
      gap: 0.3em;
      padding: 0.3em;
      cursor: pointer;
      user-select: none;

      .badge {
        background: peachpuff;
        color: red;
        padding: 0.1em 0.3em;
        border-radius: 1em;
      }
    }
    .logs {
      height: 200px;
      overflow: auto;
      padding: 0.5em;
    }
    &.expanded {
      .icon-button {
        transform: rotate(180deg);
      }
    }
  }
}

.fullFrame {
  width: 100%;
  height: 100%;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1rem;
  width: max-content;
}
