html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #808080;
}

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

.cesium-message-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ff0;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    position: relative;
    padding: 15px;
}