/* @import url(/Build/CesiumUnminified/Widgets/widgets.css);
@import url(/Build/CesiumUnminified/Widgets/lighter.css); */

html {
  height: 100%;
}

body {
  background: #000;
  color: #eee;
  font-family: sans-serif;
  font-size: 9pt;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: white;
  background-image: var(--_rings), var(--_gradient);

  /* TODO: these should pull from the stratakit directly somehow eventually */
  --ids-color-border-neutral-muted: oklch(91.52% 0.005 258.33);
  --ids-color-bg-page-base: oklch(99.06% 0.002 247.84);
  --ids-color-bg-page-depth: oklch(94.86% 0.002 247.84);

  --_rings: repeating-radial-gradient(
    circle at center,
    var(--ids-color-border-neutral-muted) 1px,
    var(--ids-color-border-neutral-muted) 3px,
    transparent 3px,
    transparent 10px
  );
  --_gradient: linear-gradient(
    180deg,
    var(--ids-color-bg-page-base) 0%,
    var(--ids-color-bg-page-depth) 100%
  );
}

.fullSize {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: none;
}

#loadingOverlay h1 {
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -0.5em;
}

.sandcastle-loading #loadingOverlay {
  display: block;
}

.sandcastle-loading #toolbar {
  display: none;
}

#toolbar {
  margin: 5px;
  padding: 2px 5px;
  position: absolute;
}

.infoPanel {
  background: rgba(42, 42, 42, 0.8);
  padding: 4px;
  border: 1px solid #444;
  border-radius: 4px;
}
