name: dev
on: 
  push:
    branches: 
      - main
  pull_request:
concurrency:
  group: dev-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install node 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'
# TODO: temporarily removed to speed up testing, add back in last commit
