name: e2e
on: push
concurrency:
  group: e2e-${{ github.ref }}
  cancel-in-progress: true
jobs:
  e2e:
    env:
      BUILD_VERSION: ${{ github.ref_name }}.${{ github.run_number }}
      AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-1
      BRANCH: ${{ github.ref_name }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_REPO: ${{ github.repository }}
      GITHUB_SHA: ${{ github.sha }}
      DEPLOYED_URL: https://ci-builds.cesium.com/cesium/${{ github.ref_name }}/
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: install node 22
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: npm install
        run: npm install
      - name: build
        run: npm run build
      - name: install Playwright browsers
        run: npx playwright install --with-deps --no-shell chromium
      - name: test log 1
        run: |
          ls -l Build/Specs
          ls -l Specs/e2e
      - name: run e2e tests
        run: npm run test-e2e -- viewer.spec.js
        env:
          DEBUG: pw:api
        continue-on-error: true
      - name: test log 2
        run: |
          ls -l Build/Specs
          ls -l Specs/e2e
      - name: deploy to s3
        if: ${{ env.AWS_ACCESS_KEY_ID != '' }}
        run: |
          aws s3 sync . s3://cesium-public-builds/cesium/$BRANCH/ \
          --cache-control "no-cache" \
          --exclude ".git/*" \
          --exclude ".github/*" \
          --exclude ".husky/*" \
          --exclude ".vscode/*" \
          --exclude "Build/Coverage/*" \
          --exclude "Build/CesiumDev/*" \
          --exclude "Build/Specs/TestWorkers" \
          --exclude "Documentation/*" \
          --exclude "node_modules/*" \
          --exclude "scripts/*" \
          --exclude "Tools/*" \
          --delete
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: e2e-report
          path: Build/Specs/e2e/artifacts/**/*
          retention-days: 30
