@import url(../../../Source/Widgets/CesiumWidget/CesiumWidget.css);

body {
    background: #000;
    color: #eee;
    font-family: sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullSize {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: none;
}

.sandcastle-loading #loadingOverlay {
    display: block;
}

#loadingOverlay h1 {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -0.5em;
}

#toolbar {
    margin: 5px;
    padding: 2px 5px;
    position: absolute;
}

.top,.bottom {
    display: block;
    position: absolute;
    border: none;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.top {
    top: 0;
    left: 0;
    border-bottom: solid 2px #888;
}

.bottom {
    bottom: 0;
    left: 0;
}

#topToolbar,#bottomToolbar {
    margin: 5px;
    padding: 2px 5px;
    position: absolute;
    left: 0;
}

#topToolbar {
    top: 0;
}

#bottomToolbar {
    top: 50%;
}