<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">  <!-- Use Chrome Frame in IE -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Blank</title>
    <style>
    body { background: #000; color: #777; }
    </style>
</head>
<body>
<!-- This is not a real bucket.  It is a placeholder until a demo is selected, when that demo's bucket will load. -->
<!-- The difference is, this non-bucket will not fire the reload message to prematurely ask for code. -->
Loading...
</body>
</html>
