<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">  <!-- Use Chrome Frame in IE -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Cesium Demo</title>
    <script type="text/javascript" src="../Sandcastle-header.js"></script>
    <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0" src="../../../ThirdParty/dojo-release-1.7.2-src/dojo/dojo.js"></script>
    <script type="text/javascript">
    require({
        baseUrl : '../../..',
        packages: [
            { name: 'dojo', location: 'ThirdParty/dojo-release-1.7.2-src/dojo' },
            { name: 'dijit', location: 'ThirdParty/dojo-release-1.7.2-src/dijit' },
            { name: 'dojox', location: 'ThirdParty/dojo-release-1.7.2-src/dojox' },
            { name: 'Assets', location: 'Source/Assets' },
            { name: 'Core', location: 'Source/Core' },
            { name: 'DynamicScene', location: 'Source/DynamicScene' },
            { name: 'Renderer', location: 'Source/Renderer' },
            { name: 'Scene', location: 'Source/Scene' },
            { name: 'Shaders', location: 'Source/Shaders' },
            { name: 'ThirdParty', location: 'Source/ThirdParty' },
            { name: 'Widgets', location: 'Source/Widgets' },
            { name: 'Workers', location: 'Source/Workers' }
        ]
    });
    </script>
    <link rel="Stylesheet" href="../../../ThirdParty/dojo-release-1.7.2-src/dijit/themes/claro/claro.css" type="text/css">
    <link rel="Stylesheet" href="../../../Source/Widgets/Dojo/CesiumViewerWidget.css" type="text/css">
</head>
<body class="claro" data-sandcastle-bucket="bucket-dojo.html" data-sandcastle-title="Cesium + Dojo">
<script type="text/javascript" src="../Sandcastle-client.js"></script>
</body>
</html>
