.animation-theme {
    visibility: hidden;
    display: block;
    position: absolute;
    z-index: -100;
}
.animation-themeNormal {
    color: #E5F2FE;
}
.animation-themeHover {
    color: #ABD6FF;
}
.animation-themeSelect {
    color: #E5F2FE;
}
.animation-themeDisabled {
    color: #EFEFEF;
}
.animation-themeKnob {
    color: #E1E2E3;
}
.animation-themePointer {
    color: #FA5;
}
.animation-themeSwoosh {
    color: #ACE;
}
.animation-themeSwooshHover {
    color: #BDF;
}
.animation-svgText {
    fill: #111;
    font-family: Sans-Serif;
    font-size: 15px;
    text-anchor: middle;
}
.animation-blank {
    fill: #000;
    fill-opacity: 0.01;  /* This must be clickable, so it can't be 'fill: none'. */
    stroke: none;
}
.animation-rectButton {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.animation-rectButton .animation-buttonPath {
    fill: #111;
}
.animation-rectButton .animation-buttonGlow {
    fill: #fff;
    stroke: none;
    /* Widget will add: filter: url(#animation_blurred); */
    display: none;
}
.animation-rectButton .animation-buttonMain {
    /* Widget will add: fill: url(#animation_buttonNormal); */
    stroke: #759DC0;
    stroke-width: 1.2;
}
.animation-buttonSelected .animation-buttonGlow {
    display: block;
    fill: #FFAA2A;
}
.animation-buttonSelected .animation-buttonMain {
    /* Widget will add: fill: url(#animation_buttonSelected); */
    stroke: #EA0;
}
.animation-rectButton:hover .animation-buttonGlow {
    display: block;
}
.animation-rectButton:hover .animation-buttonMain {
    /* Widget will add: fill: url(#animation_buttonHovered); */
    stroke: #759DC0;
}
.animation-buttonSelected:hover .animation-buttonGlow {
    fill: #fff;
}
.animation-buttonSelected:hover .animation-buttonMain {
    stroke: #EA0;
}
.animation-rectButton:active .animation-buttonMain {
    fill: #ABD6FF;
}
.animation-buttonDisabled {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.animation-buttonDisabled .animation-buttonMain {
    /* Widget will add: fill: url(#animation_buttonDisabled); */
    stroke: #D3D3D3;
}
.animation-buttonDisabled .animation-buttonPath {
    fill: #818181;
}
.animation-buttonDisabled .animation-buttonGlow {
    display: none;
}
.animation-shuttleRingBack {
    fill: #FAFAFA;
    fill-opacity: 1;
    stroke: #AEAEAE;
    stroke-width: 1.2;
}
.animation-shuttleRingG {
    cursor: pointer;
}
.animation-shuttleRingSwoosh line {
    stroke: #8AC;
    stroke-width: 3;
    stroke-opacity: 0.2;
    stroke-linecap: round;
}
/* Widget will add:
.animation-shuttleRingG .animation-shuttleRingSwoosh {
    fill: url(#animation_shuttleRingSwooshGradient);
}
.animation-shuttleRingG:hover .animation-shuttleRingSwoosh {
    fill: url(#animation_shuttleRingSwooshHovered);
}
*/
.animation-shuttleRingPointer {
    /* Widget will add: fill: url(#animation_shuttleRingPointerGradient); */
    cursor: pointer;
}
.animation-shuttleRingPausePointer {
    /* Widget will add: fill: url(#animation_shuttleRingPointerPaused); */
    cursor: pointer;
}
.animation-knobOuter {
    /* Widget will add: fill: url(#animation_knobOuter); */
    cursor: pointer;
    stroke: #A5A5A5;
    stroke-width: 1.2;
}
.animation-knobInner {
    /* Widget will add: fill: url(#animation_knobInner); */
    cursor: pointer;
}

/* Apply a darker theme with some modifications. */

.cesium-darker .animation-themeNormal {
    color: #222;
}
.cesium-darker .animation-themeHover {
    color: #4488B0;
}
.cesium-darker .animation-themeSelect {
    color: #242;
}
.cesium-darker .animation-themeDisabled {
    color: #333;
}
.cesium-darker .animation-themeKnob {
    color: #222;
}
.cesium-darker .animation-themePointer {
    color: #2E2;
}
.cesium-darker .animation-themeSwoosh {
    color: #8AC;
}
.cesium-darker .animation-themeSwooshHover {
    color: #AEF;
}
.cesium-darker .animation-svgText {
    fill: #edffff;
}
.cesium-darker .animation-rectButton .animation-buttonPath {
    fill: #edffff;
}
.cesium-darker .animation-rectButton .animation-buttonMain {
    stroke: #444;
}
.cesium-darker .animation-buttonSelected .animation-buttonGlow {
    fill: #2E2;
}
.cesium-darker .animation-buttonSelected .animation-buttonMain {
    stroke: #2E2;
}
.cesium-darker .animation-rectButton:hover .animation-buttonMain {
    stroke: #AEF;
}
.cesium-darker .animation-buttonSelected:hover .animation-buttonGlow {
    fill: #fff;
}
.cesium-darker .animation-buttonSelected:hover .animation-buttonMain {
    stroke: #2E2;
}
.cesium-darker .animation-rectButton:active .animation-buttonMain {
    fill: #ABD6FF;
}
.cesium-darker .animation-buttonDisabled .animation-buttonMain {
    stroke: #555;
}
.cesium-darker .animation-buttonDisabled .animation-buttonPath {
    fill: #818181;
}
.cesium-darker .animation-shuttleRingBack {
    fill: #181818;
    fill-opacity: 0.8;
    stroke: #333;
    stroke-width: 1.2;
}
.cesium-darker .animation-shuttleRingSwoosh line {
    stroke: #8AC;
}
.cesium-darker .animation-knobOuter {
    stroke: #444;
}
