.cesium-chromeFrameOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    width: 400px;
    height: 300px;
    border: 1px solid #526F82;
    color: white;
}

.cesium-chromeFrameOverlay div {
    padding: 2em;
}