.playback-svgText {
    fill: #edffff;
    font-family: Sans-Serif;
    font-size: 15px;
    text-anchor: middle;
}
.playback-blank {
    fill: rgba(0, 0, 0, 0.01);  /* This must be clickable, so it can't be 'fill: none'. */
    stroke: none;
}
.playback-rectButton {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.playback-rectButton .playback-buttonPath {
    fill: #edffff;
}
.playback-rectButton .playback-playbackMode {
    fill: #edffff;
    fill-opacity: 0.2;
}
.playback-rectButton:hover .playback-playbackMode {
    fill-opacity: 0.5;
}
.playback-rectButton .playback-buttonGlow {
    fill: #fff;
    stroke: none;
    filter: url(#playback_blurred);
    display: none;
}
.playback-rectButton .playback-buttonMain {
    fill: url(#playback_buttonNormal);
    stroke: #444;
    stroke-width: 1;
}
.playback-buttonSelected .playback-buttonGlow {
    display: block;
    fill: #2E2;
}
.playback-buttonSelected .playback-buttonMain {
    fill: url(#playback_buttonSelected);
    stroke: #2E2;
}
.playback-rectButton:hover .playback-buttonGlow {
    display: block;
}
.playback-rectButton:hover .playback-buttonMain {
    fill: url(#playback_buttonHovered);
    stroke: #AEF;
}
.playback-buttonSelected:hover .playback-buttonGlow {
    fill: #fff;
}
.playback-buttonSelected:hover .playback-buttonMain {
    stroke: #2E2;
}
.playback-rectButton:active .playback-buttonMain {
    fill: #ABD6FF;
}
.playback-shuttleRingPath {
    fill: url(#playback_buttonRadialNormal);
    stroke: #444;
    stroke-width: 2;
}
.playback-shuttleRingBack {
    fill: #222;
    fill-opacity: 0.8;
}
.playback-shuttleRing .playback-rectButton .playback-buttonPath {
    fill-opacity: 0.5;
}
.playback-shuttleRing .playback-buttonSelected .playback-buttonPath {
    fill-opacity: 1;
}
.playback-shuttleRingLabels {
    fill: #edffff;
    fill-opacity: 0.7;
}
.playback-shuttleRingGlow {
    fill: url(#playback_shuttleRingGlowGradient);
    cursor: pointer;
}
