.playback-svgText {
    fill: #edffff;
    font-family: Sans-Serif;
    font-size: 15px;
    text-anchor: middle;
}
.playback-blank {
    fill: #000;
    fill-opacity: 0.01;  /* This must be clickable, so it can't be 'fill: none'. */
    stroke: none;
}
.playback-rectButton {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.playback-rectButton .playback-buttonPath {
    fill: #edffff;
}
.playback-rectButton .playback-buttonGlow {
    fill: #fff;
    stroke: none;
    filter: url(#playback_blurred);
    display: none;
}
.playback-rectButton .playback-buttonMain {
    fill: url(#playback_buttonNormal);
    stroke: #444;
    stroke-width: 1;
}
.playback-buttonSelected .playback-buttonGlow {
    display: block;
    fill: #2E2;
}
.playback-buttonSelected .playback-buttonMain {
    fill: url(#playback_buttonSelected);
    stroke: #2E2;
}
.playback-rectButton:hover .playback-buttonGlow {
    display: block;
}
.playback-rectButton:hover .playback-buttonMain {
    fill: url(#playback_buttonHovered);
    stroke: #AEF;
}
.playback-buttonSelected:hover .playback-buttonGlow {
    fill: #fff;
}
.playback-buttonSelected:hover .playback-buttonMain {
    stroke: #2E2;
}
.playback-rectButton:active .playback-buttonMain {
    fill: #ABD6FF;
}
.playback-buttonDisabled {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.playback-buttonDisabled .playback-buttonMain {
    fill: url(#playback_buttonDisabled);
    stroke: #555;
}
.playback-buttonDisabled .playback-buttonPath {
    fill: #818181;
}
.playback-buttonDisabled .playback-buttonGlow {
    display: none;
}
.playback-shuttleRingBack {
    fill: #181818;
    /* fill-opacity: 0.9;  Leave commented-out until issue #361 gets fixed.  */
    stroke: #333;
    stroke-width: 1.2;
}
.playback-shuttleRingG {
    cursor: pointer;
}
.playback-shuttleRingG .playback-shuttleRingSwoosh {
    fill: url(#playback_shuttleRingSwooshGradient);
}
.playback-shuttleRingG:hover .playback-shuttleRingSwoosh {
    fill: url(#playback_shuttleRingSwooshHovered);
}
.playback-shuttleRingPointer {
    fill: url(#playback_shuttleRingPointerGradient);
    cursor: pointer;
}
.playback-shuttleRingPausePointer {
    fill: url(#playback_shuttleRingPointerPaused);
    cursor: pointer;
}
.playback-knobOuter {
    fill: url(#playback_knobOuter);
    cursor: pointer;
    stroke: #444;
    stroke-width: 1.2;
}
.playback-knobInner {
    fill: url(#playback_knobInner);
    cursor: pointer;
}
