.timelineMain {
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
	border: solid 1px #888;
}

.timelineTrackContainer {
	width: 100%;
	overflow: auto;
	border-top: solid 1px #888;
	position: relative;
	top: 0;
	left: 0;
}

.timelineTracks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.timelineNeedle {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	z-index: 50;
	background: #F00;
}

.timelineBar {
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
	/*border: solid 1px #888;*/
	width: 100%;
	height: 1.7em;
	z-index: 100;
	background-color: #fafafa;
	background-repeat: repeat-x;
	background: -webkit-linear-gradient(top, #eee, #fff, #fafafa);
	background: -moz-linear-gradient(top, #eee, #fff, #fafafa);
	background: -ms-linear-gradient(top, #eee, #fff, #fafafa);
	background: -o-linear-gradient(top, #eee, #fff, #fafafa);
	background: linear-gradient(top, #eee, #fff, #fafafa);
}

.timelineRuler {
	/* NOTE: The label and the ruler must use the same font/size */
	visibility: hidden;
	white-space: nowrap;
	font-size: 80%;
	z-index: -200;
}

.timelineHighlight {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #08F;
}

.timelineTicLabel {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	font-size: 80%;
	color: #000;
	cursor: default;
}

.timelineTicMain {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 50%;
	background: #000;
}

.timelineTicSub {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 33%;
	background: #444;
}

.timelineTicTiny {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 25%;
	background: #888;
}

.timelineIcon16 {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url("Images/TimelineIcons.png");
	background-repeat: no-repeat;
	z-index: 10;
}